* {
	font-family: 'Open Sans', sans-serif;
	/*outline: black solid thick;*/
}

#super-container {
	position: fixed;
	background-color: white;
	width: 100%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 15%;
	transition: all 0.3s;
	background-color: white;
}
#container-div {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#container-div div {
	position: relative;
	display: inline-block;
	margin: 15px;
	top: 50%;
	transform: translateY(-50%);
}

#input-div {
	width:30%;
}

#button-div {
	width: 10%;
	border-radius: 10px;
	background-color: red;
	color: white;
	transition: all 0.3s;
}

#button-div:hover{
	background-color: purple;
	cursor: pointer;
}

input[type="text"] {
/*styles from: http://callmenick.com/post/various-css-input-text-styles */
	padding: 10px;
	border: solid 3px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	width: 100%;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	text-align: center;
}

input[type="text"]:focus {
	border: solid 3px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#table {
	position:absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	margin: 40px;
}

#vlexo-div {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	font-size: 75%;
}